.encrypted-pwd {
  text-overflow: ellipsis;
  display: inline-block;
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: top;


  border: 1px solid #C0C000;
  margin: 1px;
  background: #F7F7F7;
  color: #000000
}
